
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 46 33% 95%;
    --foreground: 214 100% 15%;

    --card: 0 0% 100%;
    --card-foreground: 214 100% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 214 100% 15%;

    --primary: 214 100% 15%;
    --primary-foreground: 46 33% 95%;

    --secondary: 201 48% 44%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 199 44% 76%;
    --accent-foreground: 214 100% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 214 100% 15%;

    --radius: 0.5rem;

    --sidebar-background: 214 100% 15%;
    --sidebar-foreground: 46 33% 95%;
    --sidebar-primary: 201 48% 44%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 214 63% 20%;
    --sidebar-accent-foreground: 46 33% 95%;
    --sidebar-border: 214 63% 20%;
    --sidebar-ring: 201 48% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
